---
apiVersion: v1
kind: Namespace
metadata:
   name: backend

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: backendapp
  namespace: backend
spec:
  replicas: 3
  selector:
    matchLabels:
      app: backendapp
  template:
    metadata:
      labels:
        app: backendapp
    spec:
      containers:
      - name: backendapp
        image: nginx
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 80

---

apiVersion: v1
kind: Service
metadata:
  name: backend-svc
  namespace: backend
spec:
  type: NodePort
  selector:
    app: backendapp
  ports:
  - port: 80
    targetPort: 80
    nodeport: 30000
